@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter-gray {
  filter: brightness(0) saturate(100%) invert(51%) sepia(8%) saturate(225%)
    hue-rotate(314deg) brightness(95%) contrast(86%);
}
.filter-red {
  filter: invert(27%) sepia(92%) saturate(7470%) hue-rotate(358deg)
    brightness(97%) contrast(107%);
}
.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(288deg) brightness(102%) contrast(102%);
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* styles.css */
.scrollbar-hidden {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
